<!DOCTYPE html>
<html>
    <head>
        <title>YouTube Playlist calc</title>
        <link rel="icon" href='./../static/assets/youtube.svg' type="image/gif" sizes="20x20">
        <style>
            body{
                padding: 40%;
            }
        </style>
    </head>
    <body>
        <center>
            <h1>
                Are you sure you entered a proper URL?
                <br/>
                <a href="/">Here you go, try again!</a>
            </h1>
        </center>
    </body>
</html>