<!DOCTYPE html>
<html>
    <head>
        <title>YouTube Playlist calc</title>
        <link rel="icon" href='./../static/assets/youtube.svg' type="image/gif" sizes="20x20">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <div class='header'>
            <span class="left" href='/'><a href="/"><img src='./../static/assets/logo.png' height="70"></a></span>
            <span class="right"><a href="https://github.com/pranavhegde006/YouTube-playlist-length"><img src="./../static/assets/github.svg" height="50"></a></br></span>
        </div>
        <div class="space">
            <br/><br/><br/><br/><br/><br/>
        </div>
        <div class="content">
                <form action='/' method="POST">
                    <label id="label" for='link'>Enter the playlist link or ID: </label><br/>
                    <input id='search-box' type="text" name='link' placeholder="https://youtube.com/playlist?list=ID"><br/>
                    <label id="label" for="speed">Playback speed:</label>
                    <select id="speed" name="speed">
                        <option value=1>1x</option>
                        <option value=1.25>1.25x</option>
                        <option value=1.5>1.5x</option>
                        <option value=1.75>1.75x</option>
                        <option value=2>2x</option>
                    </select> 
                    </br>
                    <button type="submit" class='button'>Calculate length!</button>
                </form>
        
                <br/>
                <div class="result">
                    This playlist has about <b>{{number}}</b> videos.<br/>
                    It would take you exactly <b>{{time}}</b> to watch this playlist at <b>{{speed}}x</b> speed.
                </div>
                <br/>
                <br/><br/>
        </div><br/>
        <br/>
        <br/>
        <br/>
        <footer>
            Built in public interest by <a href="https://github.com/pranavhegde006">Pranav Hegde</a>.
        </footer>
    </body>
</html>
